ROS_DOMAIN_ID=1
ROS_DISTRO=jazzy

# Build this with:
# docker build -f ../Dockerfile.jazzy -t pros_app:jazzy ..
PROS_BASE_IMAGE=pros_app:jazzy
PROS_DRIVER_IMAGE=pros_app:jazzy
PROS_UNITY_LIDAR_TRANS_IMAGE=pros_app:jazzy
PROS_AI_IMAGE=pros_app:jazzy
PROS_LIDAR_PKG_IMAGE=pros_app:jazzy
PROS_IMU_IMAGE=pros_app:jazzy
PROS_GPS_IMAGE=pros_app:jazzy
PROS_ORADAR_IMAGE=pros_app:jazzy
PROS_CAMERA_CALIBRATION_IMAGE=pros_app:jazzy

# Replace with a Jazzy-compatible Foxglove bridge image when one is selected.
FOXGLOVE_BRIDGE_IMAGE=us-central1-docker.pkg.dev/foxglove-images/images/foxglove_bridge:ros-humble-v3.2.6
